@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap'); 

* {
    list-style: none;
    padding: 0;
    margin: 0;
}

:root {
    --branca: #ffffff;
    --preta: #000000;
    --laranja: #f4992a;
    --laranja-escuro: #f57c00;
    --amarela: #D99311;
    --azulEscuro: #193773;
    --azul: #233d8c4e;
    --vinho: #701c32;
    --renda:  #D2B48C;
}


body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: var(--azul);
}

.header {
    background-color: var(--laranja-escuro);
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10
    
}

.imagem{
    width: 100%;
    height: 100vh;
    margin-top: -10%;
}

#capa {
    width: 100%;
    height: 100vh;
}

.menu {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
}

.titulo {
    padding: 10px;
    font-size: 28px;
    
}

.menuLista {
    padding: 3px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


a {
    font-size: 24px;
    color: var(--vinho);
    text-decoration: none;
}

a:hover {
    color: var(--branca);
}

.meio {
    display: flex;
    flex-direction: row;
}

.resumo {
    margin: 1.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, var(--vinho), var(--laranja));
    color: white;
    padding: 1.5%;
    border-radius: 10%;
    
}

#autor {
    margin: 1.5%;
    padding: 1.5%;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background: linear-gradient(135deg, var(--laranja), var(--vinho));
    border-radius: 10%;
}

.machado{
    text-align: center;
    font-size: large;
}

.texto-machado{
    text-align: justify;
}

#imagemMachado {
    width: 50%;
    height: 60%;
    margin-top: 10%;
}

.meio-2 {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

#personagens {
    width: 50%;
    margin-left: 1.5%;
}

#personagem1 {
    margin: 1.5%;
    display: flex;
    flex-direction: row;
}

#personagem2 {
    margin: 1.5%;
    display: flex;
    flex-direction: row;
}

#personagem3 {
    margin: 1.5%;
    display: flex;
    flex-direction: row;
}


.integrantes {
    margin: 1.5%;
    margin-top: 1.5%;
}

.final {
    width: 100%;
    height: 5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

span {
    display: flex; /* Align image and paragraph horizontally */
    align-items: center; /* Vertically align image and text in the center */
    gap: 15px; /* Space between the image and the text */
}

.imagensPartipantes {
    display: flex;
    flex-direction: row;
}

#alunos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 150%;
}

#personFoto {
    width: 130px; 
    height: 130px; 
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;  
}


#participantes {
    width: 130px; 
    height: 130px; 
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden; 
}

#participantes:hover {
    cursor: pointer;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

#professora {
    width: 30%;
    margin-left: 30%;
    display: flex;
    justify-content: center;   

}

.conteudo-carta {
    margin: 1.5%;
}

#cartas {

    margin-left: 1.5%;
}

.cartas {
    margin-left: 1.5%;
}


.menu-lateral {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: linear-gradient(135deg, var(--laranja), var(--vinho));
    border-radius: 16px;
    width: 94%;
    margin: 1.5%;
}

.menu-lateral button {
    padding: 12px;
    margin: 10px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: var(--laranja);
    transition: background-color 0.3s, transform 0.3s;
}

.menu-lateral button:hover {
    transform: scale(1.05);
    color: var(--vinho);
}
.carta h2 {
    color: var(--vinho);
    font-size: 24px;
    margin-bottom: 12px;
    margin-top: 12px;
    text-align: center;
}

.carta p {
    font-size: 18px;
    line-height: 1.6;
    color: var(--branca);
    text-align: justify;
    margin-bottom: 15px;
    text-shadow: 2px 2px 5px var(--preta);
}

.carta {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 20px;
    font-size: 18px;
    background-color: var(--renda);
    width: 50%;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    

}

.alunos {
    display: flex;
    flex-direction: column;
}

.professora {
    display: flex;
    flex-direction: column;
}

#titulo {
    margin-left: 2%;
}